doctype html
html(lang=lang)
    include partials/_head.pug
    body
        include partials/_header.pug
        main 
            if (featured_list.length > 0)
                h2=langData.main.best_seller[lang]
                if (featured_list.length == 1)
                    section#product_carousel
                        article(data-product-card='medium' data-carousel class='current')
                            div.image_container
                                    img(src='/public/img/products-images/' + featured_list[0].listing[0].images[0])
                            div.text_container   
                                p.text_container_header #{featured_list[0].category_name[lang]} / #{featured_list[0].brand_name}
                                h3=featured_list[0].name[lang]
                                div.product_card_price_tag
                                    p.price_sell=featured_list[0].listing[0].format_price_discounted
                                    if(featured_list[0].listing[0].discount_percent > 0)
                                        p.price_discount
                                            span.price_before #{featured_list[0].listing[0].format_price} 
                                            span.discount_percent #{Math.round(featured_list[0].listing[0].discount_percent * 100)}%
                                p.product_card_description=featured_list[0].description[lang]
                                ul.product_card_tags
                                    each tag in featured_list[0].tag_id
                                        li=tag 
                else
                    section#product_carousel
                        each item in featured_list  
                            article(data-product-card='medium' data-carousel)
                                div.image_container
                                    img(src='/public/img/products-images/' + item.listing[0].images[0])
                                div.text_container   
                                    p.text_container_header #{item.category_name[lang]} / #{item.brand_name}
                                    h3=item.name[lang]
                                    div.product_card_price_tag
                                        p.price_sell=item.listing[0].format_price_discounted
                                        if(item.listing[0].discount_percent > 0)
                                            p.price_discount
                                                span.price_before #{item.listing[0].format_price} 
                                                span.discount_percent #{Math.round(item.listing[0].discount_percent * 100)}%
                                    p.product_card_description=item.description[lang]
                                    ul.product_card_tags
                                        each tag in item.tag_array
                                            li=tag.name[lang] 
                        div(id='carousel_next' class='carousel_btn')
                            i(class="fa-solid fa-chevron-right fa-xl")
                        div(id='carousel_prev' class='carousel_btn')
                            i(class="fa-solid fa-chevron-left fa-xl")
                        div#carousel_dot_container
                            each item in featured_list 
                                div.carousel_dot
            if (discount_list.length > 0)
                hr.section_divider
                h2=langData.main.deals_day[lang]
                section#product_search_section
                    div(product_display_container)
                        div(id='product_result')
                            each item in discount_list
                                article(data-product-card='small')
                                    div.image_container
                                            img(src='/public/img/products-images/' + item.listing[0].images[0])
                                    div.text_container   
                                        p.text_container_header #{item.category_name[lang]} / #{item.brand_name}
                                        h3=item.name[lang]
                                        div.product_card_price_tag
                                            p.price_sell=item.listing[0].format_price_discounted
                                            if(item.listing[0].discount_percent > 0)
                                                p.price_discount
                                                    span.price_before #{item.listing[0].format_price} 
                                                    span.discount_percent #{Math.round(item.listing[0].discount_percent * 100)}%
                                        p.product_card_description=item.description[lang]
                                        ul.product_card_tags
                                            each tag in item.tag_array
                                                li=tag.name[lang]
                        div(id='pagination', data-pagination-type='mini')
        footer

        script.
            /*###########
            Carousel Code
            #############*/
            let carouselCards = document.querySelectorAll('[data-carousel]');
            if (carouselCards.length > 1) { 
                let carousel_next = document.getElementById('carousel_next');
                let carousel_prev = document.getElementById('carousel_prev');
                let carousel_dot = document.querySelectorAll('.carousel_dot');

                let cardIndex = 0;
                carouselCurrent(cardIndex);
                
                carousel_next.addEventListener('click', () => {
                    let newIndex = cardIndex + 1;
                    if (newIndex >= carouselCards.length) {
                        newIndex = 0
                    };

                    carouselAnimToggle(carouselCards, cardIndex, newIndex, 'anim_to_left');
                    
                    cardIndex = newIndex;
                    carouselCurrent(cardIndex);
                });

                carousel_prev.addEventListener('click', () => {
                    let newIndex = cardIndex - 1;
                    if (newIndex < 0) {
                        newIndex = carouselCards.length - 1
                    }

                    carouselAnimToggle(carouselCards, cardIndex, newIndex, 'anim_to_right');

                    cardIndex = newIndex;
                    carouselCurrent(cardIndex);
                })

                //Carousel dots
                let dotArr = Array.from(carousel_dot);

                carousel_dot.forEach(dot => {
                    let dotIndex = dotArr.indexOf(dot);

                    dot.addEventListener('click', () => {
                        carouselAnimToggle(carouselCards, cardIndex, dotIndex, 'anim_to_top');
                        cardIndex = dotIndex;
                        carouselCurrent(cardIndex);
                    })
                });

                // FUNCTIONS
                function carouselCurrent(index) {
                    carouselCards.forEach(card => {
                        card.classList.remove('current');
                        card.classList.remove('next');
                    });

                    carousel_dot.forEach(dot => {
                        dot.classList.remove('current')
                    })
                    carouselCards[index].classList.add('current');
                    carousel_dot[index].classList.add('current')
                };

                function carouselAnimToggle(arr, index, new_index, animation_name) {
                    if (document.getElementsByClassName('animation')) {
                        arr.forEach(card => {
                            card.classList.remove('animation')
                        })};

                    arr.forEach(card => {
                        card.classList.remove('anim_to_left');
                        card.classList.remove('anim_to_right');
                        card.classList.remove('anim_to_top');
                    })
                    
                    arr[new_index].classList.add('next');
                    arr[index].classList.add(animation_name);
                    arr[index].classList.add('animation');
                    arr[index].addEventListener('animationend', () => {
                        arr[index].classList.remove('animation');
                    })
                };
            };
