doctype html
html(lang=lang)
    head
        include partials/_head.pug
    body
        include partials/_header.pug
        main 
            if (featured_list.length > 0)
                h2=langData.main.best_seller[lang]
                if (featured_list.length == 1)
                    section#product_carousel
                        article(data-product-card='medium' data-carousel class='current')
                            a(class="image_container", href=`/product/${featured_list[0]._id}`)
                                    img(src='/public/img/products-images/' + featured_list[0].listing[0].images[0])
                            div.text_container   
                                p.text_container_header 
                                    span(href='')=featured_list[0].category_name[lang]
                                    span=" / " 
                                    span(href='')=featured_list[0].brand_name
                                h3
                                    a(href=`/product/${featured_list[0]._id}`)=featured_list[0].product_name[lang]
                                div.product_card_price_tag
                                    a(class='price_sell', href=`/product/${featured_list[0]._id}`)=featured_list[0].listing[0].format_price_discounted
                                    if(featured_list[0].listing[0].discount_percent > 0)
                                        p.price_discount
                                            span.price_before #{featured_list[0].listing[0].format_price} 
                                            span.discount_percent #{Math.round(featured_list[0].listing[0].discount_percent * 100)}%
                                p.product_card_description=featured_list[0].description[lang]
                                ul.product_card_tags
                                    each tag in featured_list[0].tag_id
                                        li
                                            a(href='')=tag 
                else
                    section#product_carousel
                        each item in featured_list  
                            article(data-product-card='medium' data-carousel)
                                a(class="image_container", href=`/product/${item._id}`)
                                    img(src='/public/img/products-images/' + item.listing[0].images[0])
                                div.text_container   
                                    p(class="text_container_header") 
                                        span(href=`/catalog?category=${item.category_name[lang]}`)=item.category_name[lang]
                                        span=" / " 
                                        span(href=`/catalog?brand=${item.brand_name}`)=item.brand_name
                                    h3
                                        a(href=`/product/${item._id}`)=item.product_name[lang]
                                    a(class='product_card_price_tag', href=`/product/${item._id}`)
                                        p.price_sell=item.listing[0].format_price_discounted
                                        if(item.listing[0].discount_percent > 0)
                                            p.price_discount
                                                span.price_before #{item.listing[0].format_price} 
                                                span.discount_percent #{Math.round(item.listing[0].discount_percent * 100)}%
                                    p.product_card_description=item.description[lang]
                                    ul.product_card_tags
                                        each tag in item.tag_array
                                            li
                                                span(href=`/product?selected_tags=${tag.tag_name[lang]}`)=tag.tag_name[lang] 
                        div(id='carousel_prev' class='carousel_btn')
                            i(class="fa-solid fa-chevron-left fa-xl")
                        div(id='carousel_next' class='carousel_btn')
                            i(class="fa-solid fa-chevron-right fa-xl")
                        div#carousel_dot_container
                            each item in featured_list 
                                div.carousel_dot
            - let api_obj_argument;
            if (discount_list.length > 0)
                - api_obj_argument = {header_section: 'deals_day', api_response: discount_list}
                include include/drag_display.pug
        footer
        - let disclaimer_lang = lang
        include include/disclaimer.pug

        script(src='/src/client/components/carousel.js' defer)
        script(src='/src/client/components/drag_display.js' defer)
