doctype html 
html(lang=lang)
    head
        include partials/_head.pug
        link(rel="stylesheet", href="/public/css/layout/user-form.css")
    body
        include partials/_header.pug
        main 
            h1(class='login_text' class='user_form_title')=langData.profile.login[lang]
            section#form_section
                form(method='post' action='/login' class='user_form' id='login_form')
                    if error_login
                        div.login_notification
                            each error in error_login
                                p.error_notification=langData.error[error][lang]  
                    label(for="username" class='username_label')=langData.profile.username[lang]
                    input(class='input_box' id='username' class='username_input' type='text' name='username' autocomplete="off")
                    label(for='password' class='password_label')=langData.profile.password[lang] 
                    div(class='input_div password')
                        input(id='password' name='password' type='password' autocomplete="off" data-password-input='password')
                        label(class='show_password' for='show_password')
                            input(type='checkbox' class='show_password_checkbox' id='show_password' data-password-show='password' checked=false autocomplete="off")
                            i(data-password-icon-on='password' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                            i(data-password-icon-off='password' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                    a(class='text_link text_link_form disabled' href='/')=langData.profile.password_forgot[lang]
                    button(class='button btn_modal btn_form' type='submit')=langData.profile.login[lang] 
                    div.form_divider
            p(style='margin-bottom: 2rem;') 
                span=langData.profile.redirect_register.text[lang]
                a(class='text_link' href='/register')=langData.profile.redirect_register.link[lang]
        footer
        script(src='/src/client/components/password_icon.js' defer)
