doctype html
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/public/img/logo/icon.ico", type="image/x-icon")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css")
        link(rel="stylesheet", href="/public/css/index.css")
        script(src="/public/js/scripts.js" defer) 
        title BizNet Technology
    body
        header.header
            section.header_top
                svg(viewBox="0 0 444 121" fill="none" xmlns="http://www.w3.org/2000/svg" class='logo_svg')
                    g(class="logo_main")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M46.5 44H79C89 45.8333 106.3 55.1 95.5 77.5C104.5 86.5 114.7 107.3 83.5 118.5H46.5V44ZM62.5 58.5V72.5H79C87 66.5 82.3333 60.6667 79 58.5H62.5ZM62.5 104.5V87.5H82.5C94.1 93.9 87.3333 101.5 82.5 104.5H62.5Z")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M3.5 115.5H1V119.5H44.5V115.5H42.5V36L28.5 30.5V16.5L26.5 14.5V29.5L21 27V5.5L18 1.5V26L3.5 21V115.5ZM9.5 54V50.5H36.5V54H9.5ZM9.5 86.5V82.5H36.5V86.5H9.5Z")
                        path(d="M122.5 44V118.5H139.5V44H122.5Z")
                        path(d="M159 44V58.5H185.5L156 118.5H208.5V104.5H181.5V103.5L210.5 44.5L159 44Z")
                        path(d="M280.5 86V44.5H297.5V118.5L280.5 105V86Z")
                        path(d="M318.5 44.5V118.5H370.5V104.5H335.5V89.5H364.5V74.5H335.5V58.5H370.5V44.5H318.5Z")
                        path(d="M383.5 44.5V58.5H405.5V118.5H420.5V58.5H443.5V44.5H383.5Z")
                    path(class="logo_sub" d="M227 119.5V45H230L297.5 101V119.5L244 77.5V119.5H227Z")
                    g(class="logo_white")
                        path(d="M10 46.5V42H36.5V46.5H10Z")
                        path(d="M10 62.5V58.5H36.5V62.5H10Z")
                        path(d="M10 71.5V67H36.5V71.5H10Z")
                        path(d="M10 80V75.5H36.5V80H10Z")
                        path(d="M10 103.5V99H36.5V103.5H10Z")
                        path(d="M10 111V107.5H36.5V111H10Z") 
                form(class='searchbar', action='')
                    input(type='text', placeholder=langData.header.search_bar[lang] autocomplete="off")
                    button(type='submit') 
                        i(class="fa-solid fa-magnifying-glass")
                form(class='lang_selector', action='/lang_change', method='get')
                    button(class='button btn_inline')=lang
                div.login
                    button.button.btn_main#login_modal_btn=langData.header.login.login_upper[lang]
            nav.header_bot
                ul.navbar
                    li
                        a(href='/')=langData.header.navbar.home[lang]
                    li 
                        a(href='/catalog')=langData.header.navbar.catalog[lang]
                    li=langData.header.navbar.deals[lang]
                div.breadcrumb_container
                    if ( !api_results )
                        ul(class='breadcrumb', aria-label='breadcrumb')
                            li(class='breadcrumb_trail')
                                a(href='/')=langData.header.navbar.home[lang]
                            li(class='breadcrumb_trail')
                                a(href='/catalog')=langData.header.navbar.catalog[lang]
                    else
                        ul(class='breadcrumb', aria-label='breadcrumb')
                            li(class='breadcrumb_trail')
                                a(href='/')=langData.header.navbar.home[lang]
                            li(class='breadcrumb_trail')
                                //Tener preparado una busqueda por categoria al hacer click en este  link!!
                                a(href='/catalog')=api_results.category[lang]
                            li(class='breadcrumb_trail')
                                a(href='/product/' + api_results._id)=api_results.name[lang]
                        ul(class='return_search_result')
                            li
                                a(href='/catalog')=langData.header.navbar.return_search_results[lang]
        dialog(id='login_modal')
            span.login_text=langData.header.login.login_lower[lang]
            form(action="" id='login_form')
                label(for="username")=langData.header   .login.username[lang]
                input(class='input_box' id='username' type='text' autocomplete="off")
                label(for='password')=langData.header.login.password[lang] 
                div(class='input_div password')
                    input(id='password' type='password' autocomplete="off")
                    label(class='show_password' for='show_password_checkbox')
                        input(type='checkbox' id='show_password_checkbox' checked=false autocomplete="off")
                        i(id='show_password_off' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                        i(id='show_password_on' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                button(class='button_forgot_password')=langData.header.login.password_forgot[lang]
                button(class='button btn_modal' type='submit')=langData.header.login.login_lower[lang] 
                button(class='button btn_modal')=langData.header.login.sign_up[lang] 
                button(class='button btn_modal login_modal_close')=langData.header.login.cancel[lang]
            button(class='button_modal_close login_modal_close') 
                i(class="fa-solid fa-circle-xmark fa-xl")
        main 
            section.product_display
                if ( !api_results )
                    p Nothig here bro
                else
                    if ( api_results.images.length > 1)
                        div.thumbnail_display
                            each image in api_results.images                                    
                                img(class='thumbnail_image', data-thumbnail=image, src='/public/img/products-images/' + image)
                    div.image_display
                        img(data-thumbnail-target, src='/public/img/products-images/' + api_results.images[0])
                    div.text_display
                        p.text_container_header #{ api_results.category[lang] } / #{ api_results.brand }
                        h3=api_results.name[lang]
                        //Pending add average rating
                        div.product_display_price_tag
                            p.price_sell=api_results.format_price_discounted 
                            if(api_results.discount_percent > 0)
                                p.price_discount 
                                    span.price_before #{api_results.format_price}
                                    span.discount_percent #{Math.round(api_results.discount_percent * 100)}%
                        p.product_display_description=api_results.description[lang]
                        //Pending add product variations
                        ul.product_card_tags 
                            each tag in api_results.tags[lang]
                                li=tag
            section.same_brand
            section.similar_articles
            section.product_reviews
                //each review in api_results
                //// ul
                ////// li
                ////////container for review description
            dialog#image_display_modal
                img#modal_image
        footer

        script.
            //## Thumbnail selector
            let image_route = '/public/img/products-images/'
            let thumbnail_select = document.querySelectorAll('[data-thumbnail]');
            let thumbnail_target = document.querySelector('[data-thumbnail-target]');

            thumbnail_select[0].classList.add('active')
            
            thumbnail_select.forEach(thumbnail => {
                thumbnail.addEventListener('click', (e) => {
                    thumbnail_target.setAttribute('src', `${image_route}${e.target.dataset.thumbnail}`);
                    thumbnail_select.forEach(select => {
                        select.classList.remove('active')
                    })
                    e.target.classList.add('active')
                })
            });

            //## Image Modal
            let image_display_modal = document.getElementById('image_display_modal');
            let modal_image = document.getElementById('modal_image');

            thumbnail_target.addEventListener('click', (e) => {
                modal_image.setAttribute('src', `${e.target.src}`);
                image_display_modal.showModal();
            })
           
           // close modal when clicking anywhere
           image_display_modal.addEventListener('click', () => {
                image_display_modal.close()
           })
           