doctype html
html(lang=lang)
    include partials/_head.pug
    body
        include partials/_header.pug
        main 
            section.product_display
                if ( !api_results )
                    p Nothig here bro
                else
                    if ( api_results.listing[0].images.length > 1)
                        div.thumbnail_display
                            each image in api_results.listing[0].images                                    
                                img(class='thumbnail_image', data-thumbnail=image, src='/public/img/products-images/' + image)
                    div.image_display
                        img(data-thumbnail-target, src='/public/img/products-images/' + api_results.listing[0].images[0])
                    div.text_display
                        p.text_container_header #{ api_results.category_name[lang] } / #{ api_results.brand_name }
                        h3=api_results.name[lang]
                        //Pending add average rating
                        div.product_display_price_tag
                            p.price_sell=api_results.listing[0].format_price_discounted 
                            if(api_results.listing[0].discount_percent > 0)
                                p.price_discount 
                                    span.price_before #{api_results.listing[0].format_price}
                                    span.discount_percent #{Math.round(api_results.listing[0].discount_percent * 100)}%
                        p.product_display_description=api_results.description[lang]
                        //Pending add product variations
                        ul.product_card_tags 
                            each tag in api_results.tag_array
                                li=tag.name[lang]
            if(similar.by_brand.length > 0)
                hr.section_divider
                section.same_brand
                    h2=langData.main.similar_brand[lang]
                    div.similar_container 
                        each item in similar.by_brand 
                            article(data-product-card='small')
                                div.image_container
                                    img(src='/public/img/products-images/' + item.listing[0].images[0])
                                div.text_container 
                                    p.text_container_header #{item.category_name[lang]} / #{item.brand_name}
                                    h3=item.name[lang]
                                    div.product_card_price_tag
                                        p.price_sell=item.listing[0].format_price_discounted
                                        if(item.listing[0].discount_percent > 0)
                                            p.price_discount 
                                                span.price_before #{item.listing[0].format_price}
                                                span.discount_percent #{Math.round(item.listing[0].discount_percent * 100)}%
                                    p.product_card_description=item.description[lang]
                                    ul.product_card_tags 
                                        each tag in item.tag_array 
                                            li=tag.name[lang]
            if(similar.by_other.length > 0)
                hr.section_divider
                section.similar_articles
                    h2=langData.main.similar_other[lang]
                    div.similar_container 
                        each item in similar.by_other 
                            article(data-product-card='small')
                                div.image_container
                                    img(src='/public/img/products-images/' + item.listing[0].images[0])
                                div.text_container 
                                    p.text_container_header #{item.category_name[lang]} / #{item.brand_name}
                                    h3=item.name[lang]
                                    div.product_card_price_tag
                                        p.price_sell=item.listing[0].format_price_discounted
                                        if(item.listing[0].discount_percent > 0)
                                            p.price_discount 
                                                span.price_before #{item.listing[0].format_price}
                                                span.discount_percent #{Math.round(item.listing[0].discount_percent * 100)}%
                                    p.product_card_description=item.description[lang]
                                    ul.product_card_tags 
                                        each tag in item.tag_array 
                                            li=tag.name[lang]
            section.product_reviews
                //each review in api_results
                //// ul
                ////// li
                ////////container for review description
            dialog#image_display_modal
                img#modal_image
        footer

        script.
            //## Thumbnail selector
            let image_route = '/public/img/products-images/'
            let thumbnail_select = document.querySelectorAll('[data-thumbnail]');
            let thumbnail_target = document.querySelector('[data-thumbnail-target]');

            if (thumbnail_select.length > 0) {
                thumbnail_select[0].classList.add('active')
            }
            
            thumbnail_select.forEach(thumbnail => {
                thumbnail.addEventListener('click', (e) => {
                    thumbnail_target.setAttribute('src', `${image_route}${e.target.dataset.thumbnail}`);
                    thumbnail_select.forEach(select => {
                        select.classList.remove('active')
                    })
                    e.target.classList.add('active')
                })
            });

            //## Image Modal
            let image_display_modal = document.getElementById('image_display_modal');
            let modal_image = document.getElementById('modal_image');

            thumbnail_target.addEventListener('click', (e) => {
                modal_image.setAttribute('src', `${e.target.src}`);
                image_display_modal.showModal();
            })
           
           // close modal when clicking anywhere
           image_display_modal.addEventListener('click', () => {
                image_display_modal.close()
           })
           