doctype html
html(lang=lang)
    head
        include partials/_head.pug
    body
        include partials/_header.pug
        main 
            h1.profile_title=langData.profile.title[lang]
            section.profile_section 
                include data_management/include/_user_nav.pug
                div.profile_container
                    img(class='profile_picture' src=`/public/img/profile-images/${user.profile_pic}`)
                    if lang=='en'
                        h2.profile_username 
                            | #{user.profile_name}
                            | #{langData.profile.profile_suffix[lang]}
                    if lang=='es'
                        h2.profile_username
                            | #{langData.profile.profile_prefix[lang]}
                            | #{user.profile_name}
                    //-if lang='more_lang'
                        h2.profile_username 
                        | prefix
                        | #{user.profile_name}
                        | sufix
                    p.profile_user_settings=`${langData.profile.username[lang]}: ${user.username}`
                    p.profile_user_settings=`${langData.profile.language_pref[lang]}: ${langData.profile.language_sel[user.user_preferences.lang]}`
        footer