doctype html
html(lang=lang)
    include partials/_head.pug
    body
        include partials/_header.pug
        main 
            h1.profile_title=langData.profile.title[lang]
            section.profile_section 
                nav.profile_nav
                    section.profile_menu
                        h2 Menu
                        ul
                            li=langData.profile[lang]
                            li=langData.profile.edit[lang]
                            li
                                a(href='/logout' style='width: 100%;')=langData.profile.logout[lang]
                    if (user.account_settings.role == 'admin')
                        section.profile_menu 
                            h2 Company Menu
                            ul
                                li Catalog
                                li Products
                                li Category
                                li Brands
                                li Tags
                    if (user.account_settings.role == 'super_admin')
                        section.profile_menu
                            h2 Webmaster
                            ul
                                li Accounts
                div.profile_container
                    img(class='profile_picture' src=`/public/img/profile-images/${user.profile_pic}`)
                    if lang=='en'
                        h2.profile_username 
                            | #{user.profile_name}
                            | #{langData.profile.profile_suffix[lang]}
                    if lang=='es'
                        h2.profile_username
                            | #{langData.profile.profile_prefix[lang]}
                            | #{user.profile_name}
                    //-if lang='more_lang'
                        h2.profile_username 
                        | prefix
                        | #{user.profile_name}
                        | sufix
                    p.profile_user_settings=`${langData.profile.username[lang]}: ${user.username}`
                    p.profile_user_settings=`${langData.profile.language_pref[lang]}: ${langData.profile.language_sel[user.user_preferences.lang]}`
        footer