doctype html 
html(lang=lang)
    head
        include partials/_head.pug
    body
        include partials/_header.pug
        main 
            h1(class='login_text' class='user_form_title')=langData.profile.sign_up[lang]
            div(class='universal_alert' data-universal-alert)
                p(class='orange')
                    span=langData.notification.account_disclaimer_prefix[lang]
                    span(style='color: red; font-weight: bold;')=langData.notification.account_disclaimer[lang]
                    span=langData.notification.account_disclaimer_suffix[lang]
            section#form_section
                form(method='post' action='/register' class='user_form' id='register_form' data-registration-form)
                    label(for="username" class='username_label')=langData.profile.new_username[lang]
                    input(class='input_box' id='username' class='username_input' type='text' name='username')
                    div(id='username_notification' class='notification_container' data-registration-notification='username')
                        if notification.username
                            p.error_notification
                                if(notification.username.input)
                                    span=langData.error.username_prefix[lang]
                                    span=notification.username.input
                                span=langData.error[notification.username.error][lang]
                    div(class='input_checklist' data-input-checklist='username')
                        p=langData.profile.username_requirement_title[lang]
                        ul 
                            for requirement in langData.profile.username_requirement
                                li(class='checklist_requirement' data-username-requirement=requirement.key)=requirement[lang]
                                    i(class='fa-solid')
                    label(for='password' class='password_label')=langData.profile.password[lang] 
                    div(class='input_div password')
                        input(id='password' name='password' type='password' autocomplete="off" data-password-input='password')
                        label(class='show_password' for='show_password')
                            input(type='checkbox' class='show_password_checkbox' id='show_password' data-password-show='password' checked=false autocomplete="off")
                            i(data-password-icon-on='password' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                            i(data-password-icon-off='password' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                    div(id='password_notification' class='notification_container' data-registration-notification='password')
                    div(class='input_checklist' data-input-checklist='password')
                        p=langData.profile.password_requirement_title[lang]
                        ul 
                            for requirement in langData.profile.password_requirement 
                                li(class='checklist_requirement' data-password-requirement=requirement.key)=requirement[lang]
                                    i(class='fa-solid')
                    label(for='confirm_password' class='password_confirm_label')=langData.profile.password_confirm[lang]
                    div(class='input_div password' id='password_confirm')
                        input(id='confirm_password' name='confirm_password' type='password' autocomplete="off" data-password-input='confirm_password')
                        label(class='show_password' for='show_confirm_password')
                            input(type='checkbox' class='show_password_checkbox' id='show_confirm_password' data-password-show='confirm_password' checked=false autocomplete="off")
                            i(data-password-icon-on='confirm_password' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                            i(data-password-icon-off='confirm_password' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                    div(id='password_confirm_notification' class='notification_container' data-registration-notification='confirm_password' style='margin-bottom: 1rem;')
                    input(type='hidden' name='token' value=`${csrf}` readonly)
                    button(class='button btn_modal btn_form' type='submit' data-registration-submit)=langData.profile.confirm[lang] 
                    div.form_divider
            p(style='margin-bottom: 2rem;')
                span=langData.profile.redirect_login.text[lang]
                a(class='text_link' href='/login')=langData.profile.redirect_login.link[lang]
        footer
        script(src='/src/client/components/password_icon.js' defer)
        script(type='module', src='/src/client/components/registration_form.js' defer)
