div.product_filter_container
    form(id='catalog_seach_form' action='/catalog' method='post')
        div.sorting_container
            label(for="sort_option")
                p.search_container_title=langData.main.search_filter.sort_title[lang] 
            select(id="sort_option", class='input_box', name='sort_option')
                option(value='0-9')=langData.main.search_filter.sort_options.price_ascending[lang] 
                option(value='9-0')=langData.main.search_filter.sort_options.price_descending[lang] 
                option(value='a-z')=langData.main.search_filter.sort_options.alphabetical_ascending[lang]
                option(value='z-a')=langData.main.search_filter.sort_options.alphabetical_descending[lang]
        div.search_container
            label
                p.search_container_title=langData.main.search_filter.by_name[lang] 
                input(type='text', class='input_box', name='name', data-reset='text')
        div.search_container
            label 
                p.search_container_title=langData.main.search_filter.by_price[lang]
                p#price_range_display.search_container_desc
            div.range_container
                div(id='range_slider_visual')
                input(type='range', class='price_range_input', id='min_range_slider', name='price_range_min', data-reset='range_min')
                input(type='range', class='price_range_input', id='max_range_slider', name='price_range_max', data-reset='range_max')
        div.search_container
            label 
                p.search_container_title=langData.main.search_filter.by_category[lang]
                select(data-reset='select', class='input_box', name='category')
                    option(value='')=langData.main.search_filter.by_category.select[lang]
                    each category in search_fields.categories
                        option(value=category.category_id)=category.name[lang] 
        div.search_container
            label 
                p.search_container_title=langData.main.search_filter.by_brand[lang]
                select(data-reset='select', class='input_box', name='brand') 
                    option(value='')=langData.main.search_filter.by_brand.select[lang]
                    each brand in search_fields.brands
                        option(value=brand.brand_id)=brand.name
        div.search_container#tags_filter
            label(for='tags_filter_input')
                p.search_container_title=langData.main.search_filter.by_tags[lang]
            div#tags_input_dropdown_container
                input(type='text', class='input_box', id='tags_filter_input', data-reset='text') 
                select(id='tags_dropdown' size='8') 
            ul#selected_tags
        div.search_container.single_option
            label(for='discount_checkbox') 
                p.search_container_title=langData.main.search_filter.on_sale[lang]
            input(type='checkbox', value="true", name='discount', data-reset='checkbox', id='discount_checkbox')
        div.search_container.single_option
            label(for='featured_checkbox') 
                p.search_container_title=langData.main.search_filter.best_seller[lang]
            input(type='checkbox', value="true", name='featured', data-reset='checkbox', id='featured_checkbox')
        input(type='hidden', name='search_lang', value=lang)
        button(type='button', class='button btn_inline', id='search_field_reset')=langData.main.search_filter.clear_fields[lang]
script.
    