doctype html
html(lang=lang)
    head
        include ../partials/_head.pug
        link(rel="stylesheet", href="/public/css/components/modals.css")
        link(rel="stylesheet", href="/public/css/pages/company.css")
    body.company_body 
        include include/_company_header.pug
        main.company_main
            include include/_company_nav.pug
            section.company_workspace
                div(class='company_notification_container' data-noti-container)
                    if flash_message.notification.length > 0
                        each noti in flash_message.notification
                            p(class='green')
                                i(class='fa-solid fa-check')
                                |  
                                | #{langData.notification[noti][lang]}
                    if flash_message.error.length > 0
                        each err in flash_message.error 
                            p(class='red')
                                i(class='fa-solid fa-ban')
                                |  
                                | #{langData.error[err][lang]}
                div(class='table_search')
                    div(class='input_div')
                        select(class='table_search_select' data-table-search-type)
                            option(value=`category_name.${lang}`)=langData.main.search_filter.by_name[lang]
                            option(value='category_id')=langData.main.search_filter.by_id[lang]
                        input(type='text' placeholder=`${langData.main.search_filter.search[lang]}` data-table-search)
                        button(class='table_search_button' type='button' data-table-search-btn)
                            i(class="fa-solid fa-magnifying-glass")
                        button(class='table_search_button' type='button' data-table-clear-search)
                            i(class='fa-solid fa-eraser')
                h1 Category edit
                div(class='table_container')
                    table(class='company_db_table') 
                        colgroup
                            col(style='width: 15%')
                            col(style='width: 75%')
                            col(style='width: 10')
                        thead
                            tr 
                                th(scope='col' class='row-center' data-table-sort='category_id')=langData.data_management.id[lang]
                                th(scope='col' class='row-left' data-table-sort=`category_name.${lang}`)=langData.data_management.category_name[lang] 
                                th
                                    button(class='table_inline_btn' type='button' title=`${langData.data_management.create[lang]}` data-action-type='create')
                                        i(class='fa-solid fa-square-plus fa-xl')
                        tbody
                            for entry in db_result
                                tr(data-table-row=`{ "category_id": ${entry.category_id}, "category_name": ${JSON.stringify(entry.category_name)}}`)
                                    td(class='row_center')=entry.category_id
                                    td(class='row_center')=entry.category_name[lang]
                                    td(class='row_center' data-table-action-cell)
                                        button(class='table_inline_btn' type='button' title=`${langData.data_management.edit[lang]}` data-action-type='update')
                                            i(class='fa-solid fa-pen-to-square fa-lg')
        footer 
        - let notLang
        - if (lang == 'es') { notLang = 'en'} else { notLang = 'es'}
        dialog(class='api_modal' data-table-modal='create')
            h2=langData.data_management.create_entry[lang]
            form(action='category_edit' method='post' data-method='post' class='api_modal_form' data-modal-action-form='create')
                label=langData.data_management.category_name[lang] + ` (${langData.profile.language_sel[lang]})`
                    input(class='input_box' name=`category_name.${lang}` type='text' style='margin-top: 5px;' required)
                label=langData.data_management.category_name[notLang] + ` (${langData.profile.language_sel[notLang]})`
                    input(class='input_box' name=`category_name.${notLang}` type='text' style='magin-top: 5px;' required)
                input(type='hidden' name='token' value=`${csrf}`)
            div(class='modal_btn_container' style='margin-top:1rem;')
                button(class='button' type='button' data-modal-action-btn='create')=langData.data_management.save[lang]
                button(class='button' type='button' data-close-modal='create')=langData.data_management.cancel[lang]
        dialog(class='api_modal' data-table-modal='update')
            h2=langData.data_management.edit[lang] 
            form(action='category_edit' method='post' data-method='put' class='api_modal_form' data-modal-action-form='update' data-csrf=`${csrf}`)
            div(class='modal_btn_container')
                button(class='button' type='button' data-modal-action-btn='update')=langData.data_management.save[lang] 
                button(class='button' type='button' data-close-modal='update')=langData.data_management.cancel[lang]
        dialog(class='api_modal' data-table-modal='delete')
            h2
                i(class='fa-solid fa-triangle-exclamation')
                | 
                | #{langData.data_management.delete[lang]} 
            p=langData.data_management.delete_confirm[lang]
            form(action='category_edit' method='post' data-method='delete' class='api_modal_form' data-modal-action-form='delete' data-csrf=`${csrf}`)
            div(class='modal_btn_container')
                button(class='button' type='button' data-modal-action-btn='delete')
                    i(class='fa-solid fa-triangle-exclamation')
                    | 
                    | #{langData.data_management.delete[lang]}
                    | 
                    i(class='fa-solid fa-triangle-exclamation') 
                button(class='button' type='button' data-close-modal='delete')=langData.data_management.cancel[lang] 
        script(type='module' src='/src/client/components/notification_bar.js' defer)
        script(type='module' src='/src/client/components/data_table_modal.js' defer)
        script(type='module' src='/src/client/components/data_table.js' defer)