doctype html
html(lang=lang)
    include ../partials/_head.pug
    body
        include ../partials/_header.pug
        main 
            h1.profile_title=langData.profile.edit[lang]
            section.profile_section 
                - let profile_active = 'edit'
                include include/user-nav.pug
                div.profile_container
                    img(class='profile_picture' src=`/public/img/profile-images/${user.profile_pic}`)
                    div(class='universal_notification' data-universal-notification)
                        if flash_message.notification 
                            each noti in flash_message.notification 
                                p(class='green')=langData.notification[noti][lang]
                        if flash_message.error
                            each noti in flash_message.error 
                                p(class='red')=langData.error[noti][lang]
                    form(action='/password' method='post' id='universal_form' class='user_form' data-universal-form='change_password')
                        label(for='password_current' class='password_label')=`${langData.profile.password_current[lang]}: ` 
                        div(class='input_div password')
                            input(id='password_current' name='password_current' type='password' autocomplete="off" data-password-input='password_current')
                            label(class='show_password' for='show_password')
                                input(type='checkbox' class='show_password_checkbox' id='show_password' data-password-show='password_current' checked=false autocomplete="off")
                                i(data-password-icon-on='password_current' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                                i(data-password-icon-off='password_current' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                        div(class='universal_notification' data-form-notification='password_current')
                        label(class='password_new_label' for='password_new')=`${langData.profile.password_new[lang]}: ` 
                        div(class='input_div password_new')
                            input(id='password_new' name='password_new' type='password' autocomplete="off" data-password-input='password_new')
                            label(class='show_password' for='show_password_new')
                                input(type='checkbox' class='show_password_checkbox' id='show_password_new' data-password-show='password_new' checked=false autocomplete="off")
                                i(data-password-icon-on='password_new' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                                i(data-password-icon-off='password_new' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                        div(class='universal_notification' data-form-notification='password_new')
                        label(class='password_new_confirm_label' for='password_new_confirm')=`${langData.profile.password_new_confirm[lang]}: ` 
                        div(class='input_div password_new_confirm')
                            input(id='password_new_confirm' name='password_new_confirm' type='password' autocomplete="off" data-password-input='password_new_confirm')
                            label(class='show_password' for='show_password_new_confirm')
                                input(type='checkbox' class='show_password_checkbox' id='show_password_new_confirm' data-password-show='password_new_confirm' checked=false autocomplete="off")
                                i(data-password-icon-on='password_new_confirm' class="fa-solid fa-eye-slash fa-lg show_password_icon active")
                                i(data-password-icon-off='password_new_confirm' class="fa-sharp fa-solid fa-eye fa-lg show_password_icon")
                        div(class='universal_notification' data-form-notification='password_new_confirm')
                        input(type='hidden' name='token' value=`${csrf}`)
                        button(class='button btn_form' type='submit' title=`${langData.profile.save_changes[lang]}`)=langData.profile.save_changes[lang]
                        div.form_divider                           
        footer
        script.
            let lang = !{JSON.stringify(lang)};
            let langData = !{JSON.stringify(langData)};
        script(src='/src/client/components/password_icon.js')
        script(type='module' src='/src/client/components/password_form.js' defer)