doctype html 
html(lang=lang)
    head 
        include ../partials/_head.pug
        link(rel="stylesheet", href="/public/css/components/filter-and-result.css")
        link(rel="stylesheet", href="/public/css/pages/company.css")
    body.company_body.catalog_edit_body 
        include include/_company_header.pug
        main.company_main.catalog_edit_main 
            include include/_company_nav.pug
            section.company_workspace
                div(class='company_notification_container' data-noti-container)
                    if flash_message.notification.length > 0
                        each noti in flash_message.notification 
                            p(class='green')
                                i(class='fa-solid fa-check')
                                | 
                                | #{langData.notification[noti][lang]}
                    if flash_message.error.length > 0
                        each err in flash_message.error
                            p(class='red')
                                i(class='fa-solid fa-ban')
                                | 
                                | #{langData.error[err][lang]}
                h1 Product Edit 
                if !db_result
                    p Nothing Here bro 
                else 
                    - let notLang 
                    - if (lang == 'es') { notLang = 'en'} else { notLang = 'es' }
                    form(class='company_form' action=`/company/catalog_edit/${db_result._id}` method='PUT' data-api-form)
                        input(type='hidden' name='token' data-form-input='token' readonly value=csrf)
                        input(type='hidden' name='_id' data-form-input='_id' value=db_result._id readonly)
                        section(class='general_info')
                            section(class='general_name')
                                p=langData.data_management.product_name[lang]
                                label(for=`product_name_${lang}`)=langData.profile.language_sel[lang]
                                input(class='input_box' id=`product_name_${lang}` name=`product_name.${lang}` type='text' data-default-value=db_result.product_name[lang] data-form-input=`product_name.${lang}` data-type='text' value=db_result.product_name[lang])
                                label(for=`product_name_${notLang}`)=langData.profile.language_sel[notLang]
                                input(class='input_box' id=`product_name_${notLang}` name=`product_name.${notLang}` type='text' data-type='text' data-default-value=db_result.product_name[notLang] data-form-input=`product_name.${notLang}` value=db_result.product_name[notLang])
                            section(class='general_description')
                                p=langData.data_management.product_description[lang]
                                label(for=`product_description_${lang}`)=langData.profile.language_sel[lang]
                                textarea(class='input_box' id=`product_description_${lang}` name=`description.${lang}` cols='20' rows='3' type='text' data-type='text' data-default-value=db_result.description[lang] data-form-input=`description.${lang}`)=db_result.description[lang]
                                label(for=`product_description_${notLang}`)=langData.profile.language_sel[notLang]
                                textarea(class='input_box' id=`product_description_${notLang}` name=`description.${notLang}` cols='20' rows='3' type='text' data-type='text' data-default-value=db_result.description[notLang] data-form-input=`description.${notLang}`)=db_result.description[notLang]
                            section(class='general_search')
                                div
                                    label()=langData.data_management.brand_name[lang]
                                    select(class='input_box' name='brand_id' data-brand-input data-type='number' data-default-value=db_result.brand_id data-form-input='brand_id')
                                        each brand in product_info.brands
                                            if (brand.brand_id === db_result.brand_id)
                                                option(value=brand.brand_id selected)=brand.brand_name
                                            else
                                                option(value=brand.brand_id)=brand.brand_name
                                div
                                    label()=langData.data_management.category_name[lang]
                                    select(class='input_box' name='category' data-type='number' data-default-value=db_result.category_id data-form-input='category_id')
                                        each category in product_info.categories
                                            if (category.category_id === db_result.category_id)
                                                option(value=category.category_id selected)=category.category_name[lang]
                                            else 
                                                option(value=category.category_id)=category.category_name[lang]
                                div
                                    label(for='tags_filter_input')=langData.data_management.tag[lang]
                                    div#tags_input_dropdown_container
                                        input(id='tags_filter_input' type='text' class='input_box' data-tag-search)
                                        select(id='tags_dropdown' size='8' data-tag-list)    
                                            each tag in product_info.tags
                                                option(value=tag.tag_id data-tag=tag.tag_id data-selected='false')=tag.tag_name[lang]
                                    ul(data-default-value=db_result.tag_id data-type='list' data-form-input='tag_id' data-tag-selected id='selected_tags')
                            section(class='general_listing')
                                div(class='checkbox_container')
                                    if (db_result.featured)
                                        input(class='product_checkbox' type='checkbox' data-type='checkbox' id='product_featured' name='featured' data-default-value='true' data-form-input='featured' checked)
                                    else 
                                        input(class='product_checkbox' type='checkbox' data-type='checkbox' id='product_featured' data-default-value='false' data-form-input='featured' name='featured')
                                    label(for='product_featured')=langData.main.search_filter.best_seller.option.featured[lang]
                                div(class='checkbox_container')
                                    if (db_result.document_publish)
                                        input(type='checkbox' id='published_product' name='document_publish' data-type='checkbox' data-form-input='document_publish' data-default-value='true' checked)
                                    else 
                                        input(type='checkbox' id='published_product' name='document_publish' data-type='checkbox' data-form-input='document_publish' data-default-value='false')
                                    label(for='published_product')=langData.main.search_filter.published_product[lang]
                        //- Listings
                        section(class='listing_info')
                            section(class='WIP')
                                p Variation Types
                                if(!db_result.variation_type)
                                    p No variation type listed
                                else 
                                    p Some Variation type
                            p LISTING CONTAINER 
                            each listing, index in db_result.listing
                                section(class='listing_index' data-product-listing data-listing-filter=`i${index}`) 
                                    section(class='listing_general')
                                        p(class='WIP') Listing variation placeholder 
                                        label(for=`${listing.sku}_sku`) SKU
                                        input(class='input_box' type='text' id=`${listing.sku}_sku` name='sku' data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='text' data-default-value=listing.sku data-form-input=`listing.$[i${index}].sku` value=listing.sku)
                                        label(for=`${listing.sku}_price`)=langData.data_management.price[lang]
                                        input(class='input_box' id=`${listing.sku}_price` name='price' type='text' data-type='number' data-listing-filter=`i${index}` data-listing-sku=listing.sku data-default-value=listing.price data-listing-price data-form-input=`listing.$[i${index}].price` value=listing.price)
                                        div(class='listing_discount_div')
                                            div(class='listing_discount_percent')
                                                label(for=`${listing.sku}_discount_percent`)=langData.data_management.discount_percent[lang]
                                                input(class='input_box' type='number' min='0' max='1' step='0.1' id=`${listing.sku}_discount_percent` name='discount_percent' data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='number' data-default-value=listing.discount_percent
                                                data-discount-input data-form-input=`listing.$[i${index}].discount_percent` value=listing.discount_percent)
                                                div(class='checkbox_container')
                                                    if (listing.discount)
                                                        input(type='checkbox' id=`${listing.sku}_discount` name='discount' data-discount-checkbox data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='checkbox' data-default-value='true' data-form-input=`listing.$[i${index}].discount` checked)
                                                    else
                                                        input(type='checkbox' id=`${listing.sku}_discount` name='discount' data-discount-checkbox data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='checkbox' data-default-value='false' data-form-input=`listing.$[i${index}].discount`)
                                                    label(for=`${listing.sku}_discount`)=langData.main.search_filter.on_sale[lang]
                                            div(class='listing_discount_calc')
                                                p=langData.data_management.price_discounted[lang]
                                                p(data-listing-filter=`i${index}` data-discount-calc)
                                        div(class='checkbox_container')
                                            if (listing.publish)
                                                input(type='checkbox' id=`${listing.sku}_published_listing` name='publish' data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='checkbox' data-default-value='true' data-form-input=`listing.$[i${index}].publish` checked)
                                            else
                                                input(type='checkbox' id=`${listing.sku}_published_listing` name='publish' data-listing-filter=`i${index}` data-listing-sku=listing.sku data-type='checkbox' data-default-value='false' data-form-input=`listing.$[i${index}].publish`)
                                            label(for=`${listing.sku}_published_listing`)=langData.main.search_filter.published_listing[lang]
                                    section(class='listing_images') 
                                        p Image Gallery
                                        div(class='image_thumbnail')
                                            each image in listing.images
                                                img(data-image=image src=`/public/img/products-images/${image}`)    
                        section(class='btn_container')
                            button(type='button' class='button' data-api-button='save')=langData.profile.save_changes[lang]
                            a(href='/company/catalog_edit')
                                button(type='button' class='button' data-api-button='cancel')=langData.profile.cancel[lang]
        dialog(data-image-modal) 
                img
        footer 
        script(type='module' src='/src/client/components/notification_bar.js' defer)
        script(type='module' src='/src/client/pages/product_edit.js')
